.navbar {
  background-color: #f6f5f6;
  border-bottom: 2px solid black;

margin-right: -79%;


}
 



body {
   overflow-x: hidden;

}
.bg-img {
  border-bottom: 8px solid #9c7c6d;
}




.homepage-contact-button {
   text-align: center;
   padding: 2%;
   font-family: nunito;
   border-bottom: 2px solid black;
   background-color: black;
   padding: 5%;
   letter-spacing: 1.5px;
   
}

.btn-branding {
   background: transparent;
   color: white;
   border-radius: 1px;
   padding: 20px 30px;
   border-color: white;
   
   border-width: 4px;
  
  
}

.btn-branding:hover {
   background: white;
   box-shadow: none;
   border-color: white;
   
   border-width: 4px;
   transition: 0.7s;
   color: black;

}

p {
   color:white;
   font-size: 20px;
   letter-spacing: 2px;
}

h1 {
   font-size: 16px;
   text-align: center;
   font-family: nunito;
}

h2 {
   font-size: 16px;
   text-align: center;
   font-family: nunito;
   
}

h3 {
   font-size: 10px;
   text-align: center;
   font-family: nunito;
  
}

.logo {
   text-align: center;
}