
.navbar-right { 
padding-top: 0.2%;
    margin-right: -2005px;
    background-color: #f6f5f6;
    border-bottom: 2px solid black;
   
 }

 .bg-img {

    border-bottom: 8px solid #9C7C6D;

 }

 .contact {
    background-color: black;
   padding: 50px;
 }

 .social-links a {
    margin: 35px;
    color: white;
    font-size: 28px;
    transition: all 100ms ease-in-out;
    text-decoration: none;
   
 }

 .social-links a:hover {
    color: orange;
 }


 .btn-branding {
    background: transparent;
    box-shadow: var(--box-shadow);
    border-radius: 1px;

    padding: 20px 30px;
    border-color: white;
    color: white;
    
 }

 .btn-branding:hover {
    background: white;
    box-shadow: none;
    border-radius: none;
    transition: 0.7s;
    border-color: transparent;

 }

 .btn-branding-outline {
    color: var(--primary-color);
    border: white;
    border-radius: 1px;
    font-size: 20px;
    line-height: 27px;
    padding: 15px 30px;

 }

 .btn-branding-outline:hover {
    background-color: transparent;
    opacity: 60%;
    box-shadow: none;
    border-radius: none;
    border-color: white;
    transition: all 0.3s ease 0.3s;

 }